@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default, light --prefersdark;
}

[data-theme="light"] {
  --color-primary: #0c0c0c;
  --color-secondary: #333333;
  --color-accent: #555555;
  --color-neutral: #1e1e1e;
  --color-base-100: #ffffff;
  --color-base-content: #000000;
}

[data-theme="dark"] {
  --color-primary: #f5f5f5;
  --color-secondary: #cccccc;
  --color-accent: #999999;
  --color-neutral: #111111;
  --color-base-100: #000000;
  --color-base-content: #ffffff;
}

html {
  scroll-behavior: smooth;
  transition: background-color 0.3s, color 0.1s;
}

body {
  font-family: "Playfair Display", serif;
  background-color: var(--color-base-100);
  color: var(--color-base-content);
}

.btn-primary-one {
  @apply btn btn-sm bg-secondary text-base-100 hover:bg-secondary/80 transition-colors  py-4;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
